[Unit]
Description=InfoMatic

[Service]
Type=idle
WorkingDirectory=/home/pi/HealthStats
ExecStart=/usr/bin/python3 /home/pi/HealthStats/healthstats.py
Restart=always

[Install]
WantedBy=multi-user.target
