[Unit]
Description=InfoMatic

[Service]
Type=idle
WorkingDirectory=/home/pi/infomatic
ExecStart=/usr/bin/python3 /home/pi/infomatic/infomatic.py
Restart=always

[Install]
WantedBy=multi-user.target
